{% extends 'layout.html.twig' %}

        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset("css/Delivery/index.css") }}" rel="stylesheet">
        {% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
        Delivery</h1>
        </header>
    {% endblock %}
    {% block content %}

        <form method="get" action="/delivery/micro-services/public/delivery/parcelnumber">


            <div class="wrap">
                <div class="search">
                    <input name="parcelnumber" type="text" class="searchTerm" placeholder="N° de colis">
                    <button type="submit" class="searchButton">
                        <img src="{{ asset("img/search.png") }}">
                    </button>
                </div>
                {% if data.erreur is defined %}
                    {{ data.erreur }}
                {% endif %}
                {% if data.status is defined %}
                    {{ data.status }}
                {% endif %}
            </div>

        </form>

        <a href="/delivery/micro-services/public/delivery/new"> Ajouter une position</a>

    {% endblock %}
{% endblock %}