{% extends 'layout.html.twig' %}
{# on import les block template afin de les completer  #}
        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset("css/Fidelity/boutique.css") }}" rel="stylesheet">
        {% endblock %}
{% block header %}
    {{ parent() }}
    Boutique Fidelity</h1></header>
{% endblock %}
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../../src/Fidelity/fidelity-client/ClientManager.js"></script>
{% endblock %}
{% block content %}
    <header class="headerBoutique">
    <h2> Bienvenue <span id="emailClient">{{ client.email }}</span></h2>
    <h2> Solde de points : <span id="pointsClient">{{ client.number }}</span></h2>

    <button id="addPoints"> Ajouter Point</button>
    </header>


    <div class="content-div">
        <span class="card">
            <img src="{{ asset("img/imgbase.jpg") }}">
            <span class="title">Titre</span>
            <span class="descript">Description de la vie</span>
<button id="substractpoint50" {%  if client.number < 50 %} class="grise"{% endif %} onclick="return substractpoint(50)" value="50">50 points</button>
        </span>
        <span class="card">
            <img src="{{ asset("img/imgbase.jpg") }}">
            <span class="title">Titre</span>
            <span class="descript">Description de la vie</span>
<button id="substractpoint150" {%  if client.number < 150 %} class="grise"{% endif %} onclick="return substractpoint(150)" value="150">150 points</button>
        </span>
        <span class="card">
            <img src="{{ asset("img/imgbase.jpg") }}">
            <span class="title">Titre</span>
            <span class="descript">Description de la vie</span>
<button id="substractpoint200" {%  if client.number < 200 %} class="grise"{% endif %} onclick="return substractpoint(200)" value="200">200 points</button>
        </span>
        <span class="card">
            <img src="{{ asset("img/imgbase.jpg") }}">
            <span class="title">Titre</span>
            <span class="descript">Description de la vie</span>
<button id="substractpoint500" {%  if client.number < 500 %} class="grise"{% endif %} onclick="return substractpoint(500)" value="500">500 points</button>
        </span>

    </div>

{% endblock %}