{% extends 'layout.html.twig' %}
{# on import les block template afin de les completer  #}
        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset("css/Fidelity/boutique.css") }}" rel="stylesheet">
        {% endblock %}
{% block header %}
    {{ parent() }}
    Boutique Fidelity</h1></header>
{% endblock %}
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../../src/Fidelity/fidelity-client/ClientManager.js"></script>
{% endblock %}
{% block content %}
    <header class="headerBoutique">
        <h2> Bienvenue <span id="emailClient">{{ client.email }}</span></h2>
        <h2> Solde de points : <span id="pointsClient">{{ client.number }}</span></h2>

        <button id="addPoints"> Ajouter 100 Points</button>
    </header>


    <div class="content-div">
        <span class="card">
            <img src="{{ asset("img/imgbase.jpg") }}">
            <span class="title"><b>Titre</b></span>
            <span class="descript">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="valeur"><b>PRIX</b> : 50 Points</span>
<button name="buttonProduct" value="50">Acheter</button>
        </span>
        <span class="card">
            <img src="{{ asset("img/imgbase.jpg") }}">
            <span class="title"><b>Titre</b></span>
            <span class="descript">Donec ut diam non mi elementum pretium non sit amet turpis.</span>
            <span class="valeur"><b>PRIX</b> : 150 Points</span>
<button name="buttonProduct" value="150">Acheter</button>
        </span>
        <span class="card">
            <img src="{{ asset("img/imgbase.jpg") }}">
            <span class="title"><b>Titre</b></span>
            <span class="descript">Nulla dolor lectus, tristique quis ornare ac, pellentesque nec ipsum.</span>
            <span class="valeur"><b>PRIX</b> : 200 Points</span>
<button name="buttonProduct" value="200">Acheter</button>
        </span>
        <span class="card">
            <img src="{{ asset("img/imgbase.jpg") }}">
            <span class="title"><b>Titre</b></span>
            <span class="descript">Vestibulum porttitor dui at nulla rhoncus dictum.</span>
            <span class="valeur"><b>PRIX</b> : 500 Points</span>
<button name="buttonProduct" value="500">Acheter</button>
        </span>
    </div>

    <div class="content-div">
        <span class="card">
            <img src="{{ asset("img/imgbase.jpg") }}">
            <span class="title"><b>Titre</b></span>
            <span class="descript">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="valeur"><b>PRIX</b> : 150 Points</span>
<button name="buttonProduct" value="150">Acheter</button>
        </span>
        <span class="card">
            <img src="{{ asset("img/imgbase.jpg") }}">
            <span class="title"><b>Titre</b></span>
            <span class="descript">Donec ut diam non mi elementum pretium non sit amet turpis.</span>
            <span class="valeur"><b>PRIX</b> : 150 Points</span>
<button name="buttonProduct" value="150">Acheter</button>
        </span>
        <span class="card">
            <img src="{{ asset("img/imgbase.jpg") }}">
            <span class="title"><b>Titre</b></span>
            <span class="descript">Donec eget ornare libero, id blandit augue.</span>
            <span class="valeur"><b>PRIX</b> : 200 Points</span>
<button name="buttonProduct" value="200">Acheter</button>
        </span>
        <span class="card">
            <img src="{{ asset("img/imgbase.jpg") }}">
            <span class="title"><b>Titre</b></span>
            <span class="descript">Nam tortor turpis, venenatis ut tellus non, vestibulum laoreet ipsum.</span>
            <span class="valeur"><b>PRIX</b> : 1000 Points</span>
<button name="buttonProduct" value="1000">Acheter</button>
        </span>
    </div>

    <div class="content-div">
        <span class="card">
            <img src="{{ asset("img/imgbase.jpg") }}">
            <span class="title"><b>Titre</b></span>
            <span class="descript">Nulla dolor lectus, tristique quis ornare ac, pellentesque nec ipsum.</span>
            <span class="valeur"><b>PRIX</b> : 2000 Points</span>
<button name="buttonProduct" value="2000">Acheter</button>
        </span>
        <span class="card">
            <img src="{{ asset("img/imgbase.jpg") }}">
            <span class="title"><b>Titre</b></span>
            <span class="descript">Donec ut diam non mi elementum pretium non sit amet turpis.</span>
            <span class="valeur"><b>PRIX</b> : 1500 Points</span>
<button name="buttonProduct" value="1500">Acheter</button>
        </span>
        <span class="card">
            <img src="{{ asset("img/imgbase.jpg") }}">
            <span class="title"><b>Titre</b></span>
            <span class="descript">Vestibulum porttitor dui at nulla rhoncus dictum.</span>
            <span class="valeur"><b>PRIX</b> : 800 Points</span>
<button name="buttonProduct" value="800">Acheter</button>
        </span>
        <span class="card">
            <img src="{{ asset("img/imgbase.jpg") }}">
            <span class="title"><b>Titre</b></span>
            <span class="descript">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="valeur"><b>PRIX</b> : 150 Points</span>
<button name="buttonProduct" value="150">Acheter</button>
        </span>
    </div>

{% endblock %}