{% extends 'layout.html.twig' %}

        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset("css/Fidelity/index.css") }}" rel="stylesheet">
        {% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../../src/Fidelity/fidelity-client/ClientManager.js"></script>
{% endblock %}

{% block body %}

    {% block header %}
        {{ parent() }}
        <h1 class="title">Fidelity</h1>
        </header>
    {% endblock %}

    {% block content %}

        <form id="formulaire" name="formulaire" method="post" action="/delivery/micro-services/public/fidelity/fetch">
            <div class="wrap">
                <div class="search">
                    <input name="email" type="email" class="searchTerm" placeholder="Saisir votre adresse email">
                    <button type="submit" id="emailSubmit" class="searchButton">
                        <img src="{{ asset("img/search.png") }}">
                    </button>
                </div>
                {% if data.erreur is defined %}
                    {{ data.erreur }}
                {% endif %}
            </div>

        </form>


    {% endblock %}
{% endblock %}
